@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir.eot?") format("eot"), url("/fonts/vazir.woff2") format("woff2"), url("/fonts/vazir.woff") format("woff"), url("/fonts/vazir.ttf") format("truetype"), url("/fonts/vazir.svg#Samplino") format("svg");
}

*,
html {
  font-family: vazir;
  direction: rtl;
}

h1 {
  font-family: vazir;
}

